<div id="sidebar">
  <div class="mobile-menu">
    <span>Moneytolia</span>
    <a class="campaign-list" routerLink="/campaigns">
      <i class="fa fa-list" aria-hidden="true"></i>
    </a>
    <a class="create-campaign" routerLink="/campaigns/create">
      <i class="fa fa-plus-square-o" aria-hidden="true"></i>
    </a>
  </div>
  <div class="list">
    <ul class="list-ul">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/campaigns"  >List Campaigns</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/campaigns/create" >Create Campaign</a>
      </li>
    </ul>
  </div>
</div>
