<div id="create-campaign">
  <h1 class="text-center">Create Campaign</h1>
  <div class="campaign-wrapper">
    <form [formGroup]="campaignForm" (ngSubmit)="createCampaign()">
      <div class="create-form">
        <div class="campaign-title mb-10">
          <label for="title" class="form-label">Title</label>
          <input type="text" name="title" class="form-control" formControlName="title"
            value={{campaignForm.value.title}}>
          <div class="alert-warning mt-10" *ngIf="title.invalid && title.touched">
            <p *ngIf="title.errors?.['required']">Title is required</p>
          </div>
        </div>

        <div class="campaign-description mb-10">
          <label for="title" class="form-label">Description</label>
          <textarea type="text" name="description" class="form-control" formControlName="description"></textarea>
          <div class="alert-warning mt-10" *ngIf="description.invalid && description.touched">
            <p *ngIf="description.errors?.['required']">Description is required</p>
          </div>
        </div>
        <div class="campaign-btn">
          <button type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <div class="dialog" *ngIf="showDialog">
    {{dialogMessage}}
</div>
</div>

